:root { 
  --text-primary: #4C566A;
  --text-secondary: #ffffff;
  --text-light: #757575;
  --accent-primary: #548687;
  --accent-hover: #3D6B6C;
  --accent-dark: #2b4d49;
  --accent-bright: #35bbbe;
  --background-primary: #e9e9e9;
  --background-secondary: #ffffff;
  --low-opacity-darken-10: #00000010;
  --low-opacity-darken-20: #00000020;
}

/* SPECIAL */
.hidden {
    display:none !important;
}

/* TEXT STUFF */
body{
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-primary);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1{font-size: 2em;}
h2{font-size: 1.5em;}
h3{font-size: 1.17em;}
h4{font-size: 1em;}
h5{font-size: 0.83em;}
h6{font-size: 0.67em;}

p{
    font-size: 1em;
    margin: 1em 0;
}

/* LINKS (OUR DEFAULT) */
a {
    color: var(--accent-primary);
}
a:hover {
    color: var(--accent-bright);
}

/* GENERAL PAGE LAYOUT STUFF */
body {
    background-color: var(--background-primary);
    display: grid;
    grid-template-columns: auto 1fr;
}
body > header {
    grid-column-start: 1;
}
main {
    grid-column-start: 2;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 2em;
}

.panel {
    background-color: var(--background-secondary);
    width: fit-content;
    padding: 1.5em;
    border-radius: 0.75em;
    box-shadow: 0 0.25em 0.5em 0.2em rgba(44, 44, 44, 0.25);
}

.page-header {
    margin-bottom: 1em;
}

.breadcrumbs a {
    font-style: italic;
    text-decoration:none;
}
.breadcrumbs a:hover {
    text-decoration:underline;
}

/* POSTING INFO COMPONENT */
.posting-info {
    font-style: italic;
}

/* SEARCH BAR */
.search-bar {
    background: var(--background-secondary);
    border: thin solid lightgrey;
    border-radius: 4em;
    height:fit-content;

    display: grid;
    grid-template-columns: 1fr auto;
    align-items:center;
}
.search-bar:has(input:focus) {
    border-color: var(--text-primary);
}
.search-bar .button-icon-only {
    border-radius: 1em;
}
.search-bar .icon-inline {
    fill: var(--text-light);
}

input[type="search"] {
    background-color: inherit;
    margin-left: 1em;
    padding: 0.4em 0.4em 0.4em 0;
    outline: none;
    border: none;
}
/* Disable webkit/blink browsers search cancel button */
input[type="search"]::-webkit-search-cancel-button {
    appearance: none;
}

/* REUSABLE ICON CLASSES */
/* icons the size of text */
.icon-inline {
    fill: var(--text-primary);
    width: 1em;
    height: 1em;
}

/* icon-only buttons */
.button-group-icon-only {
    font-size:0; /*necessary for removing browser-caused gap between buttons */
}
.button-icon-only {
    background: none;
    margin: 0;
    padding: 0.4rem;
    border: none;
    border-radius: 0.5em;

    /* below properties fix weird button sizing issues */
    box-sizing: content-box;
    height: 1rem;
    font-size: 1rem;
}
.button-icon-only:hover {
    background-color: var(--low-opacity-darken-10);
    cursor: pointer;
}
.button-icon-only:hover .icon-inline{
    fill: var(--accent-bright)
}

