/* MAIN BLOG STUFF */
.blog-panel {
    padding: 2em;
}

.blog-title {
    margin-bottom: 0.2em;
}

.blog-photo{
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
    margin: 1em 0;
    border-radius: 0.75em;
}

/* BUTTONS */
.interaction-bar{
    display: flex;
    padding: 1em;
    max-height: 2em;
    justify-content: center;
    gap: 2em;
}

.interaction-button {
    white-space: nowrap;
}
.interaction-button:hover{
    cursor: pointer
}
.interaction-button .icon-inline {
    vertical-align: text-top;
    margin: auto 0em auto 0.5em;
}

/* TODO: COMMENTS STYLING */
