/* MAIN BLOG STUFF */
.blog-panel {
  padding: 2em;
}

.blog-title {
  margin-bottom: 0.2em;
}

.blog-photo{
  width: 100%;
  max-height: 50vh;
  object-fit: cover;
  margin: 1em 0;
  border-radius: 0.75em;
}

/* BUTTONS */
.interaction-bar{
  display: flex;
  padding: 1em;
  max-height: 2em;
  justify-content: center;
  gap: 2em;
}

.interaction-button[type="button"], .interaction-button[type="submit"] {
    white-space: nowrap;
    width: auto;
    font-size:small;
    padding: 0.5rem;
}
.interaction-button[type="button"]:hover, .interaction-button[type="submit"]:hover {
    background-color: var(--accent-hover);
    cursor:pointer;
}
.interaction-button .icon-inline {
    fill: var(--text-secondary);
    vertical-align: text-top;
    margin: auto 0em auto 0em;
}
.interaction-button.togglable-post-button-active {
    background-color: var(--accent-bright);
}

.top-button{
  margin-bottom:1em;
}

/* COMMENTS */
.comments-title{
  width: 100%;
}

.comments-container{
  width: 100%;
  box-sizing: border-box;
}

.specific-comment-container{
  padding: 1em;
  border-bottom: medium solid var(--low-opacity-darken-20);
}

.specific-comment-container header {
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items:center;
}

.comment{
  width: 100%;
  box-sizing: border-box;
  margin: 1em 0;
  padding: 0.5rem;
}

