.dashboard-grid {
    box-sizing:content-box;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1.75fr;
    grid-template-areas: "user-search site-analytics";
}

.user-search {
    grid-area: user-search;
    width: inherit;
}

.search-topics {
    grid-area: search-topics;
    width: inherit;
}

.site-analytics {
    grid-area: site-analytics;
    width: inherit;
}

.action-bar {
    margin-top: 1rem;
}

.user-list {
    margin-top: 1rem;
    max-height: 100vh;
    overflow: auto;
    border-radius: 0.75em;
}
.user-list li {
    padding: 0.5rem;
}

.user-list>li:nth-child(even) {
    background-color: var(--low-opacity-darken-10);
}

.user-list>li:nth-child(odd) {
    background-color: var(--low-opacity-darken-20);
}

