.form-container {
    height: 100%;
	display: grid;
	justify-content: center;
	align-items: center;
}

.account-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
}

.form-title {
	align-self: center;
	padding: 1rem;
}

.form-group {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

form a {
	text-decoration: none;
	color: var(--accent-primary);
	font-weight: bold;
}

label {
	font-weight: bold;
}

input, textarea {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    color: var(--text-primary);
	width: 100%;
	border: none;
    box-shadow: 0.05em 0.05em 0.25em 0.05em var(--background-shadow);
	padding: 0.5rem;
	border-radius: 0.25em;
}
@media(prefers-color-scheme: dark) {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
        background-color: var(--background-primary);
    }
}

input:focus,
button[type="submit"]:focus {
	outline: none;
	box-shadow: 0.125em 0.125em 0.25em 0.125em var(--accent-hover);
}

button[type="submit"], input[type="button"], button[type="button"] {
	width: 100%;
	background-color: var(--accent-primary);
	color: var(--text-secondary);
	border: none;
	padding: 0.75rem;
	border-radius: 0.25em;
	font-size: 1rem;
	font-weight: bold;
}

button[type="submit"]:hover, input[type="button"]:hover {
	background-color: var(--accent-hover);
	cursor: pointer;
}

input[type="file"] {
	width: 100%;
	padding: 0.125rem 0.125rem;
	border-radius: 0.25em;
}

input[type="file"]::file-selector-button {
    color: var(--text-primary);
    background-color: var(--low-opacity-darken-20);
	border: none;
	padding: 0.5rem 1rem;
	margin-right: 0.5rem;
	border-radius: 0.25em;
	cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
	background-color: var(--background-primary);
}

input.validation-error {
	border: 0.15em solid var(--color-error);
	box-shadow: none;
}

#edit-user-bio {
    padding: 0.5rem;
}
