.post-list .post-summary:first-child {
    margin-top: 0;
}
.post-list .post-summary:last-child {
    padding-bottom: 0;
    border: none;
}

/* LAYOUT */
.post-summary {
    margin-top: 1.5em;
    padding-bottom: 0.8em;
    border-bottom: medium solid var(--low-opacity-darken-20);

    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1em;
}

.post-summary-text {
    flex: 1 0 60%;
}

.post-summary-non-text{
    flex: 1 1 auto;
}

/* TEXT STUFF */
.post-summary-title {
    margin-bottom: 0.2em;
}
.blog-start {
    margin: 1em 0 0;
}
.post-summary-title a, .blog-start a {
    color: var(--text-primary);
    text-decoration: none;
}
.post-summary-title a:hover {
    color: var(--accent-primary);
    text-decoration: underline;
}

/* NON-TEXT STUFF */
.post-summary-img {
    width: 100%;
    height: 7em;
    object-fit: cover;
    border-radius: 0.5em;
}

.post-summary-button-group {
    margin-top: 0.4em;
    width: 100%;
    display: flex;
    gap: 0.4em;
    justify-content: space-between;
}