.sidebar-profile{
  background-color: var(--background-secondary);
  color: var(--text-primary);

  min-height: 100vh;
  max-width: 15em;
  padding: 1.5em;
  box-sizing: border-box;
  position: sticky;
  top: 0;

  box-shadow: 0 0.25em 0.5em 0.2em var(--background-shadow);
}

.user-image{
  width: 10em;
  height: auto;
  border-radius: 0.75em; 
  display: block;
  margin: 0 auto 1.5em; 
}

.user-info{
  text-align: center; 
}

.user-name{
  font-size: 1.5em;
  margin-bottom: 1em;
}

.follower-count{
  margin-bottom: 1em;
}

.user-bio{
  font-size: 0.75em;
  text-align: left; 
}